/* navbar stuff */
nav, nav li, nav div.navbar-header > a {
  background-color: #66B032 !important;
}
nav a {
  color: #375F1B !important;
  transition: color 0.4s;
}
nav li, nav div.navbar-header > a {
  transition: background-color 0.4s, color 0.4s;
}
nav li:hover, nav div.navbar-header:hover a{
  background-color: #1B3409 !important;
}
nav li:hover > a, nav div.navbar-header:hover > a {
  color: #9BD770 !important;
}
/* End navbar stuff*/
h1, p {
  font-family: 'Archivo';
}
div.page-header > h1 {
  font-size: 47px;
  color: #375F1B;
}
p {
  font-family: 'Archivo';
  font-size: 28px;
  color: #66B032;
}
div.col-sm-3 {
  background-color: blue;
  height: 300px;
}
