/* navbar stuff */
nav, nav li, nav div.navbar-header > a:not(.current) {
  background-color: #66B032 !important;
}
nav a {
  color: #1B3409 !important;
  transition: color 0.4s;
  font-family: 'Archivo' !important;
}
nav li, nav div.navbar-header > a, nav a.current {
  transition: background-color 0.4s, color 0.4s;
}
nav a.current {
  background-color: #5c9f2d !important;
}
nav li:hover, nav div.navbar-header:hover > a, nav a.current:hover{
  background-color: #1B3409 !important;
}
nav li:hover > a, nav div.navbar-header:hover > a {
  color: #9BD770 !important;
}
nav a:not(.navbar-brand) {
  font-size: 18px;
}
nav a.navbar-brand {
  font-size: 22px;
}
/* End navbar stuff*/
h1, p{
  font-family: 'Archivo';
}
table {
  font-size: 25px;
}
table.no-border {
  border: none !important;
}
table.no-border td {
  border: none !important;
}
div.page-header > h1 {
  font-size: 57px;
  color: #375F1B;
}
p {
  font-size: 28px;
}
p, li, table {
  font-family: 'Archivo';
  color: #66B032;
}
li:not(nav li) {
  font-size: 23px;
  transition:
}

canvas#canvas {
  margin-left: -15px;
}

div.main-header {
  display: block;
  padding-top: 180px;
  height: 400px;
  background-image: url('https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
}
div.main-header > h1 {
  font-size: 50px;
  color: #91FF42;
}
div.purchase-banner {
  background-color: #66b032;
  height: 300px;
}
div.purchase-banner h1 {
  color: #1B3409;
  font-size: 50px;
}
div.purchase-banner p {
  color: #1B3409;
}
div.purchase-banner a.btn {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
td, th {
  width: 14.29%;
}
table.table-bordered td:hover {
  background-color: #f2f2f2;
}
table.table-bordered td:active {
  background-color: #d9d9d9;
}
.btn-success {
  background-color: #46a046;
  border-color: #3e8e3e;
}
.btn-success:hover {
  background-color: #367d36;
  border-color: #2e6b2e;
}
